html, body {
  overflow: auto;
  margin: 0;
  padding: 0;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 150%;
}

a:hover {
  color: green;
  background-color: transparent;
  text-decoration: none;
  font-size: 150%;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 150%;
}
a:hover {
  color: green;
  background-color: transparent;
  text-decoration: none;
  font-size: 150%;
}